@import url('https://fonts.googleapis.com/css?family=Gruppo&display=swap');

body {
  margin: 0;
  font-family: "Gruppo", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #003973 0%, #E5E5BE 100%);
}

button {
	cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}